@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-family: 'Playfair Display', serif;
  min-height: max-content;
}
